
pandas>=1.5.3
numpy>=1.26.2
matplotlib>=3.0.0
seaborn>=0.9.0
scikit-learn>=1.5.1
xgboost>=1.0.0
catboost>=0.24
interpret>=0.6.9
interpret-core>=0.3.0
shap>=0.40.0
lime>=0.2.0
dice-ml>=0.9
openpyxl>=3.0.0
